<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/_admin :: dynamic(~{::main})}"> 

<main>


<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Thông tin đơn hàng</h3>
			</div>
			<table>
				<thead>
					<tr>
						<th>STT</th>
						<th>Tài khoản</th>
						<th>Địa chỉ</th>
						<th>Tổng hóa đơn</th>
						<th>Ngày đặt hàng</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order :${orders}">
						<td>
							[[${order.id}]]
						</td>
						<td>
							[[${order.account?.username}]]

						</td>
						<td>[[${order.address}]]</td>
						<td>
							<span th:text="${#numbers.formatDecimal(order.total , 0, 'POINT', 0, 'POINT')} + ' VNĐ'"></span>
						</td>
						<td>[[${order.createDate}]]</td>
						<td><a th:href="@{|/admin/order/detail/${order.id}|}">Chi tiết</a>
						</td>
					</tr>



					
				</tbody>
			</table>
		</div>
	</div>
</main>
</html>